/* Styles for WATS 3020 Browser Game */
.hidden {
    display: none;
}
#win-screen, #draw-screen {
    display: none;
    background: rgba(10, 46, 54, 0.8);
    margin: 0;
    padding: 0;
    text-align: center;
}
#win-screen.show, #draw-screen.show{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vw;
    z-index: 1000;
}
#win-screen .container, #draw-screen .container {
    background: rgba(253, 255, 252, 1);
    color: rgba(10, 46, 54, 1);
    padding: 3rem;
    margin-top: 2rem;
}
#gameboard {
    background-color: rgba(253, 255, 252, 0.1);
}
#gameboard .row div {
    text-align: center;
}
#gameboard div.col-xs-3 {
    width: 33%;
}
.tile, .player-icon {
    background: rgba(253, 255, 252, 0.2);
    color: rgba(150, 154, 151, 1);
    width: 90%;
    min-width: 75px;
    height: 90%;
    min-height: 75px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    font-size: 5rem;
    cursor: pointer;
}

.dropdown-icon {
    background: rgba(253, 255, 252, 0.2);
    color: rgba(150, 154, 151, 1);
    width: 90%;
    min-width: 25px;
    height: 90%;
    min-height: 25px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;

}
.tile:hover {
    color: rgba(39, 251, 107, 1);
    background: rgba(253, 255, 252, 0.1);

}
.tile.played {
    color: rgba(255, 186, 8, 1);
    background: rgba(253, 255, 252, 0.1);
    cursor: pointer;
}

.dropdown-icon:hover, .player-icon:hover {
color: pink;
}

.game-title {
    text-align: center;
}

body {
    background-color: rgba(10, 46, 54, 1);
    width: 90%;
    margin: auto;
}
html {
    background-color: rgba(10, 46, 54, 1);
}

/* colors */

.spring-green-color {
    color: rgba(39, 251, 107, 1);
}
.baby-powder-color {
    color: rgba(253, 255, 252, 1);
}
.phthalo-green-color {
    color: rgba(10, 46, 54, 1);
}

.selective-yellow-color {
    color: rgba(255, 186, 8, 1);
}
.spanish-gray-color {
    color: rgba(150, 154, 151, 1);
}

.spring-green-bg {
    background-color: rgba(39, 251, 107, 1);
}
.baby-powder-bg {
    background-color: rgba(253, 255, 252, 1);
}
.phthalo-green-bg {
    background-color: rgba(10, 46, 54, 1);
}

.selective-yellow-bg {
    background-color: rgba(255, 186, 8, 1);
}
.spanish-gray-bg {
    background-color: rgba(150, 154, 151, 1);
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}